.copyright {
    font-size: 12px;
}

.tags {
    font-size: 0.8em;
    color: #868686
}

.category {
    font-size: 0.8em;
    font-weight: bold;
    color: #575757
}

.post .excerpt p  {
    margin-bottom: 0px;
}